.AdderTemplate-Table {
    /* min-height: 7vh; */
    /* position: absolute;
    top: 15vh; */
    padding-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: 20px;
    color: white;
}
  
.ViewerTemplate-Button {
    /* font-size: 20px;
    color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}