.left-end {
  display: flex;
  font-size: calc(10px + 5vmin);
  color: white;
  /* float: left; */
  margin: 0;
  position: absolute;
  top: 50%;
  left:0%;
}

.right-end {
  display: flex;
  font-size: calc(10px + 5vmin);
  color: white;
  /* float: right; */
  margin: 0;
  position: absolute;
  top: 50%;
  right:0%;
}
  



.SpaceNavigator-header {
background-color: #0d0e0f;
display: flex;
align-items: center;
justify-content: top;
font-size: calc(10px + 2vmin);
color: white;
min-height: 4rem;
}
