html {
    background-color: green;
    font-size: 20px;
  }

  p {
    background-color: url("https://ashitani.jp/golangtips/gopher.png")
  }
  
  ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }